@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

<h4>Name: Christopher Ojaide</h4>
<h4>Profession: Hardware and Software developer</h4>
<h4>Current City: karlskrona</h4>

<br />
<br />
<br />
<br />
<br />