@{
    ViewData["Title"] = "Contact";
}

<h2>Contact</h2>

<h4>Phone: +46 76 1234 578</h4>
<h4>Email: email@email.com</h4>
<h4>Current city: Karlskrona </h4>


<br />
<br />
<br />
<br />
<br />


<h3>Contact Us</h3>
<form>
    <input type="text" id="fname" name="fname" placeholder="first name">
    <input type="text" id="lname" name="lname" placeholder="last name">
    <textarea name="textArea" placeholder="Contact us today"></textarea>
    <input type="submit" value="Send">
</form>
