@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<h4>Find my C# training projects with the links below</h4>

<p> <a href="https://github.com/codeatom/sokoban-game" target="_blank">A Sokoban game application</a> game made entirely with css, html and javaScript</p>
<p> <a href="https://github.com/codeatom/Front_End_Design" target="_blank">A website</a> game made entirely with css, html and javaScript</p>
<p> <a href="https://github.com/codeatom/VendingMachineApp" target="_blank">A vending machine application</a> game made entirely with css, html and javaScript</p>
<p> <a href="https://github.com/codeatom/Hangman" target="_blank">A hangman console game</a> game made entirely with css, html and javaScript</p>
<p> <a href="https://github.com/codeatom/SimpleCalculator" target="_blank">A simple console calculator</a> game made entirely with css, html and javaScript</p>

<br />
<br />
<br />
<br />
<br />